/* ===========================================
   商品購入画面
=========================================== */

/* エラーメッセージ */
.purchase__error-message {
    color: #FF5555;
    font-size: 20px;
    margin-top: 8px;
    min-height: 20px;
}
